@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal .botao {
        margin-top: 5px;
        width: 240px;
    }
}

@media screen and (min-width: 1000px) {
    .filme-principal .descricao {
        width: 50%;
    }
}