* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


div img {
    display: block;
    width: 100%;
}

header {
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-itens {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-itens li a {
    color: #fff;
}

header .menu {
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

.container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    padding: 10px 15px;
}

.apresentaçao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentaçao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}


.btn {
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    display: flex;
    font-size: 32px;
    color: #122A57;
    margin-bottom: 20px;
    align-items: center;
}

#quem-somos h2::before {
    height: 50px;
    width: 5px;
    content: "";
    margin-right: 5px;
    position: relative;
    background-color: #122A57;
}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img {
    min-width: 420px;
}

.container-externo {
    background-color: #122A57;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 30px;
}

.list-services {
    display: flex;
    justify-content: space-between;
}

.list-services .item-servico{
    text-align: center;

}


.item-servico a {
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
}

.item-servico p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servico img {
    max-width: 80%;
    margin: auto;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2 {
    font-size: 32px;
}

.list-plano {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}   

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #122A57;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 5px;
}

footer {
    background-color: #122A57;
    height: 70px;
    display: flex;
    align-items: center;

}
footer #rodape {
    color: #fff;
    justify-content: space-between;
}


    /*MOBILE */

@media(max-width: 992px) {
    .container {
        flex-direction: column;
    }

    .apresentaçao {
        flex-direction: column-reverse;
    }

    .apresentaçao .texto-apresentacao {
        width: 100%;
    }

    #quem-somos {
        flex-direction: column-reverse;
    }

    #quem-somos img {
        min-width: 320px;
        margin: auto;
    }

    .list-services {
        flex-direction: column-reverse;
    }

    .item-servico img {
        width: 50%;
        margin: auto;
    }

    .list-plano {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-plano .item-plano {
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}


